.form-auth {
    margin-top: 6rem;
}

.form-auth .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap:1.5rem;
    align-items: center;
}

.form-auth .row form{
    flex:1 1 40rem;
    padding:2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border:.1rem solid rgba(0,0,0,.1);
    background: #fff;
    border-radius: .5rem;
}

.form-auth .row .image{

    flex:1 1 40rem;
}

.form-auth .row .image img{
    width: 82%;
    margin-left: 4.5rem;
}

.form-auth .row form .box{
    padding:1rem;
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
    border:.1rem solid rgba(0,0,0,.1);
    border-radius: .5rem;
    margin:.7rem 0;
    width: 100%;
}

.form-auth .row form .box:focus{
    border-color: var(--pink);
}
