.card {
    margin-top: 6rem;
}
.card .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;

}

.card .price{
    font-size: 2.5rem;
    color:var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
    margin: 2rem;
}

.card .price span{
    font-size: 1.5rem;
    color:#999;
    font-weight: lighter;
    text-decoration: line-through;
}

.card .heart {
    font-size: 2.5rem;
    color:#3a5b61;
    margin-left: 1.5rem;
}

.card .heart:hover{
    color:var(--pink);
}


.card .row .img-container{
    margin-left: 10rem;
    flex: 1 1 40rem;

}

.card .row .img-container img{
    width:70%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 70%;
    object-fit: cover;

}

.card .row .content{
    flex:1 1 40rem;
}

.card .row .content h3{
    font-size: 3rem;
    color:#3a5b61;
}

.card .row .content p{
    font-size: 1.5rem;
    color:#999;
    padding:.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    margin-top: 2rem;
}