@media (max-width:991px){

    html {
        font-size: 55%;
    }

    .header {
        padding:2rem;
    }

    .home, .products, .footer {
        padding:2rem;
    }

    .home{
        background-position: left;
    }

}
