.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 5rem;
    color:#3a5b61;
}

.home .content span{
    font-size: 2.5rem;
    color:var(--pink);
    padding:1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#999;
    padding:1rem 0;
    line-height: 1.5;
}
