.category-nav {
    background:#eee;
    display: flex;
    justify-content: flex-start;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.category-nav .nav a{
    font-size: 2rem;
    padding:0 1.5rem;
    color:#666;
    cursor: pointer;
}

.category-nav .nav a:hover {
    color: var(--pink);
}

@media (max-width:668px) {
    .category-nav .nav a {
        display: inline-block;
        padding: 1rem 1.5rem;
    }
}


