:root{
  --pink: #e8beb4;
}
*{
  margin:0; padding:0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none; border:none;
  text-decoration: none;
  text-transform: initial;
  transition: .2s linear;
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
.home, .products, .footer, .form-auth, .card {
  padding:2rem 9%;
}
.heading{
  text-align: center;
  font-size: 4rem;
  color:#3a5b61;
  padding:1rem;
  margin:2rem 0;
  background:rgba(255, 51, 153,.05);
}

.heading span{
  color:var(--pink);
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background:#3a5b61;
  color:#fff;
  padding:.9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background:var(--pink);
}

@media (max-width:991px){

  html {
    font-size: 55%;
  }

  .header {
    padding:2rem;
  }

  .home, .products, .footer, .form-auth, .card {
    padding:2rem;
  }

  .home{
    background-position: left;
  }
}


@media (max-width:768px){

  .home .content h3{
    font-size: 5rem;
  }

  .home .content span{
    font-size: 2.5rem;
  }


}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading{
    font-size: 3rem;
  }

}



